@model EditPropertyViewModel

@*TODO: add span for asp-validation-for*@

<div class="my-4">
    <h3 class="text-center">Form for editing your property offer</h3>
</div>

@if (Model?.Errors?.Any() ?? false)
{
    <div class="alert alert-danger text-center">Allowed file types: jpg, jpeg, png</div>
}

@if (this.TempData.ContainsKey("UnexpectedError"))
{
    <div class="alert alert-danger text-center">@this.TempData["UnexpectedError"]</div>
}
@if (this.TempData.ContainsKey("InvalidDropdownOption"))
{
    <div class="alert alert-danger text-center">@this.TempData["InvalidDropdownOption"]</div>
}

<form method="post" enctype="multipart/form-data" style="max-width: 500px; margin: 0 auto;">
    <!-- -->
    <input type="hidden" asp-for="AgentId"/>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                <input asp-for="@Model.Name" type="text" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- -->
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label asp-for="@Model.Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" type="text" class="form-control" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label asp-for="@Model.Size" class="form-label">Size</label>
                <input asp-for="@Model.Size" type="text" class="form-control" />
                <span asp-validation-for="@Model.Size" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- -->
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label asp-for="@Model.CountryId" class="form-label">Country</label>
                <select asp-for="@Model.CountryId" class="form-control" aria-required="true" id="countryDropdown">
                    <option value="" selected>Select a country</option>
                    @foreach (var country in Model.Countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CountryId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label asp-for="@Model.CityId" class="form-label">City</label>
                <select asp-for="@Model.CityId" class="form-control" aria-required="true" id="cityDropdown">
                    <option value="@Model.CityId">Select City</option>
                </select>
                <span asp-validation-for="@Model.CityId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- -->
    <div class="form-outline mb-4">
        <label asp-for="@Model.Address" class="form-label">Address</label>
        <input asp-for="@Model.Address" type="text" class="form-control" />
        <span asp-validation-for="@Model.Address" class="text-danger"></span>
    </div>

    <!-- -->
    <div class="form-outline mb-4">
        <label asp-for="@Model.Description" class="form-label">Description</label>
        <textarea asp-for="@Model.Description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>

    <!-- -->
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label asp-for="@Model.PropertyTypeId" class="form-label">Property type</label>
                <select asp-for="@Model.PropertyTypeId" class="form-control" aria-required="true" id="propertyTypeDropdown">
                    <option value="@Model.PropertyTypeId" selected>Select a property type</option>
                    @foreach (var t in Model.PropertyTypes)
                    {
                        <option value="@t.Id">@t.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.PropertyTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label asp-for="@Model.BuildingTypeId" class="form-label">Building type</label>
                <select asp-for="@Model.BuildingTypeId" class="form-control" aria-required="true" id="propertyTypeDropdown">
                    <option value="@Model.BuildingTypeId" selected>Select a building type</option>
                    @foreach (var t in Model.BuildingTypes)
                    {
                        <option value="@t.Id">@t.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.BuildingTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label asp-for="@Model.PropertyStatusId" class="form-label">Property status</label>
                <select asp-for="@Model.PropertyStatusId" class="form-control" aria-required="true" id="propertyTypeDropdown">
                    <option value="@Model.PropertyStatusId" selected>Select a property status</option>
                    @foreach (var ps in Model.PropertyStatuses)
                    {
                        <option value="@ps.Id">@ps.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.PropertyStatusId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" asp-for="@Model.NewImages">Choose if you want to upload additional images</label>
                <input asp-for="@Model.NewImages" type="file" class="form-control" id="customFile" />
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Photo №</th>
                <th></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;
                foreach (var img in Model.AddedImages)
                {
                    <tr>
                        <td>Photo @count</td>
                        <td><a href="@img.Url">See photo</a></td>
                        <td><span style="cursor:pointer;" class="badge bg-danger delete-photo" data-photo-id="@img.Id">&times;</span></td>
                    </tr>
                    count++;
                }
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary btn-block mb-4">Edit property</button>
</form>

<script src="~/js/register/loadCities.js"></script>
<script src="~/js/property/delete-image-from-details.js"></script>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}