@model IEnumerable<DashboardReviewViewModel>

<div class="container">

    @if (this.TempData.ContainsKey("SuccessfullyDeleted"))
    {
        <div class="text-center text-info">
            @this.TempData["SuccessfullyDeleted"]
        </div>
    }

    @if (this.TempData.ContainsKey("SuccessfullyApproved"))
    {
        <div class="text-center text-success">
            @this.TempData["SuccessfullyApproved"]
        </div>
    }

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="users-table table-wrapper table-responsive">
                @if (Model.Any())
                {
                    <table class="table posts-table">
                        <thead>
                            <tr class="users-table-info">
                                <th>Short Description</th>
                                <th>Author</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var review in Model)
                            {
                                <tr>
                                    <td>
                                        @review.Description
                                    </td>
                                    <td>
                                        <div class="pages-table-img">
                                            <picture>
                                                <source srcset="@review.ReviewCreatorAvatarUrl" type="image/webp">
                                                <img src="@review.ReviewCreatorAvatarUrl" alt="User Name">
                                            </picture>
                                            @review.ReviewCreatorName
                                        </div>
                                    </td>
                                    @if (review.IsApproved)
                                    {
                                        <td><span class="badge badge-active">Active</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-pending">Pending</span></td>
                                    }

                                    <td>@review.AddedOn</td>

                                    <td>
                                        <span class="p-relative">
                                            <!-- Approve Form -->
                                            <form method ="post" asp-area="Administrator" asp-controller="Dashboard" asp-action="ApproveReview" asp-route-id="@review.Id">
                                                <input type="hidden" name="reviewId" value="@review.Id" />
                                                <button type="submit" title="Approve" style="color: green;">
                                                    &#10004; <!-- Checkmark symbol -->
                                                </button>
                                            </form>

                                            <!-- Delete Form -->
                                            <form method="post" asp-area="Administrator" asp-controller="Dashboard" asp-action="DeleteReview" asp-route-id="@review.Id">
                                                <input type="hidden" name="reviewId" value="@review.Id" />
                                                <button type="submit" title="Trash" style="color: red;">
                                                    &#10008; <!-- X symbol -->
                                                </button>
                                            </form>
                                        </span>
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div>
                        <h3 class="text-center">No pending reviews yet</h3>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
