@using HomeXplorer.Extensions;
@model IEnumerable<LatestPropertiesViewModel>

@{
    ViewData["Heading"] = "All Favorites";
}
@{
    bool hasUser = this.User?.Identity?.IsAuthenticated ?? false;
    string userRole = hasUser ? this.User.GetRole() : null;
}

@if (this.TempData.ContainsKey("UnexpectedError"))
{
    <div class="alert alert-danger text-center">@this.TempData["UnexpectedError"]</div>
}
@if (this.TempData.ContainsKey("SuccessfullyAddedToFavs"))
{
    <div class="alert alert-success text-center">@this.TempData["SuccessfullyAddedToFavs"]</div>
}
@if (this.TempData.ContainsKey("SuccessfullyRemovedFromFavs"))
{
    <div class="alert alert-success text-center">@this.TempData["SuccessfullyRemovedFromFavs"]</div>
}

@if (!Model.Any())
{
    <div>
        <h3 class="text text-center">No properties found by your criteria</h3>
    </div>
}
else
{
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">@ViewData["Heading"]</h1>
                        <span class="color-text-a">@ViewData["Heading"]</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Properties Grid
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="property-grid grid">
        @if (!Model.Any())
        {
            <h3 class="text-center">You don't have any properties yet</h3>
        }
        else
        {
            <div id="propertyGridContainer" class="container">
                <div class="row">

                    @foreach (var property in Model)
                    {
                        <div class="col-md-4">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="@property.CoverImageUrl" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a href="/@(hasUser && userRole != null ? $"{userRole}/Property" : "Property")/Details?id=@property.Id">
                                                    @property.City
                                                    <br />@property.Name
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="card-body-a">
                                            <div class="price-box d-flex">
                                                <span class="price-a">rent | $ @property.Price</span>
                                            </div>
                                            <a href="/@(hasUser && userRole != null ? $"{userRole}/Property" : "Property")/Details?id=@property.Id">
                                                Click here to view
                                                <span class="bi bi-chevron-right"></span>
                                            </a>
                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-around">
                                                <li>
                                                    <h4 class="card-info-title">Size</h4>
                                                    <span>
                                                        @property.Size m
                                                        <sup>2</sup>
                                                    </span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Status</h4>
                                                    <span>@property.Status</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Added on:</h4>
                                                    <span>@property.AddedOn</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Visits</h4>
                                                    <span>@property.Visits</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </section>
}