@model MainPageViewModel

@{
    bool hasUser = this.User?.Identity?.IsAuthenticated ?? false;
}

@if (Model.SliderProperties.Any())
{
    @if (this.TempData.ContainsKey("DetailsError"))
    {
        <div class="text-danger text-center">@this.TempData["DetailsError"]</div>
    }
    <div class="intro intro-carousel swiper position-relative">
        <div class="swiper-wrapper">

            @foreach (var property in Model.SliderProperties)
            {
                <partial name="_PropertyIndexPartial" model="@property" />
            }
        </div>
    </div>
}
else
{
    <h3 class="text-center">No available properties yet</h3>
}

@if (hasUser)
{
    <section class="section-property section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Properties nearby</h2>
                        </div>
                        <div class="title-link">
                            <a asp-area="Renter" asp-controller="Property" asp-action="AllNearby">
                                All Properties Nearby
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            @if (!Model.LastThreePropertiesNearby!.Any())
            {
                <h3 class="text-center">No nearby properties</h3>
            }
            else
            {
                <div id="property-carousel" class="swiper">
                    <div class="swiper-wrapper">

                        @foreach (var property in Model.LastThreePropertiesNearby!)
                        {
                            <partial name="_LatestPropertiesPartial" model="@property" />
                        }
                    </div>
                </div>
                <div class="propery-carousel-pagination carousel-pagination"></div>
            }
        </div>
    </section>
}
@*else
{*@
<section class="section-property section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Latest Properties</h2>
                    </div>
                    <div class="title-link">
                        <a asp-area="@(hasUser ? "Renter" : "")" asp-controller="Property" asp-action="AllProperties">
                            All Properties
                            <span class="bi bi-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        @if (!Model.LatestProperties!.Any())
        {
            <h3 class="text-center">No properties found</h3>
        }
        else
        {
            <div id="property-carousel" class="swiper">
                <div class="swiper-wrapper">

                    @foreach (var property in Model.LatestProperties!)
                    {
                        <partial name="_LatestPropertiesPartial" model="@property" />
                    }
                </div>
            </div>
            <div class="propery-carousel-pagination carousel-pagination"></div>
        }
    </div>
</section>
@*}*@

@*Add reviews section here:*@

@if (Model.ApprovedReviews.Any())
{
    <section class="section-property section-t8">
        <!-- Carousel wrapper -->
        <div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-mdb-ride="carousel">
            <div class="carousel-inner">
                @foreach (var review in Model.ApprovedReviews)
                {
                    <div class="carousel-item active">
                        <img class="rounded-circle shadow-1-strong mb-4"
                             src="@review.ReviewCreatorAvatarUrl" alt="avatar"
                             style="width: 150px;" />
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                <h5 class="mb-3">@review.ReviewCreatorName</h5>
                                <p class="text-muted">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    @review.Description
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
                    data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
                    data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel wrapper -->
    </section>
}

<script src="~/js/reviews-carousel.js"></script>