@model LatestPropertiesViewModel

@{
    bool hasLoggedInUser = this.User?.Identity?.IsAuthenticated ?? false;
    string area = null;
    if (!hasLoggedInUser)
    {
        area = string.Empty;
    }
    else
    {
        if (this.User.IsInRole("Agent"))
        {
            area = "Agent";
        }
        else if (this.User.IsInRole("Renter"))
        {
            area = "Renter";
        }
    }
}

<div class="carousel-item-b swiper-slide">
    <div class="card-box-a card-shadow">
        <div class="img-box-a">
            <img src="@Model.CoverImageUrl" alt="" class="img-a img-fluid" style="width: 358px; height: 358px;">
        </div>
        <div class="card-overlay">
            <div class="card-overlay-a-content">
                <div class="card-header-a">
                    <h2 class="card-title-a">
                        <a asp-area="@area" asp-controller="Property" asp-action="Details" asp-route-id="@Model.Id">
                            @Model.City
                            <br />@Model.Name
                        </a>

                    </h2>
                </div>
                <div class="card-body-a">
                    <div class="price-box d-flex">
                        <span class="price-a">rent | $ @Model.Price</span>
                    </div>
                    <a asp-area="@area" asp-controller="Property" asp-action="Details" asp-route-id="@Model.Id"
                       class="link-a">
                        Click here to view
                        <span class="bi bi-chevron-right"></span>
                    </a>
                </div>
                <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                        <li>
                            <h4 class="card-info-title">Area</h4>
                            <span>
                                @Model.Size m<sup>2</sup>
                            </span>
                        </li>
                        <li>
                            <h4 class="card-info-title">Status</h4>
                            <span>@Model.Status</span>
                        </li>
                        <li>
                            <h4 class="card-info-title">Added on:</h4>
                            <span>@Model.AddedOn</span>
                        </li>
                        <li>
                            <h4 class="card-info-title">Visits</h4>
                            <span>@Model.Visits</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>