@using HomeXplorer.Config;
@using Microsoft.Extensions.Configuration;
@using Microsoft.Extensions.Options;
@using HomeXplorer.Config.Google;
@inject IOptions<GoogleCaptchaSettings> GoogleCaptchaConfig

@model LoginViewModel

@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3>Sign In to <strong>HomeXplorer</strong></h3>
                                <p class="mb-4">Online platform for renting and managing properties</p>

                                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                {
                                    <div class="alert alert-danger text-center">@Model.ErrorMessage</div>
                                }

                            </div>
                            <form method="post">
                                <input type="hidden" asp-for="@Model.Token" id="ModelToken" />
                                <div class="form-group first">
                                    <label asp-for="@Model.Email">Email</label>
                                    <input asp-for="@Model.Email" type="text" class="form-control" id="username">

                                </div>
                                <div class="form-group last mb-4">
                                    <label asp-for="@Model.Password">Password</label>
                                    <input asp-for="@Model.Password" type="password" class="form-control" id="password">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    @*<label class="control control--checkbox mb-0">
                                    <span class="caption">Remember me</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                    </label>*@
                                    <span class="mr-auto"><a href="/User/ForgottenPassword" class="forgot-pass">Forgot your password?</a></span>
                                    <span class="ml-auto"><a href="/User/Register" class="forgot-pass">Don't have an acount?'</a></span>
                                </div>

                                <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">

                                @* <span class="d-block text-center my-4 text-muted"> or sign in with</span>

                                <div class="social-login text-center">
                                <a href="#" class="facebook">
                                <span class="icon-facebook mr-3"></span>
                                </a>
                                <a href="#" class="twitter">
                                <span class="icon-twitter mr-3"></span>
                                </a>
                                <a href="#" class="google">
                                <span class="icon-google mr-3"></span>
                                </a>
                                </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/login.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script>
<script>

    function getToken() {
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleCaptchaConfig.Value.SiteKey', { action: 'submit' })
                .then(function (token) {
                    //    console.log(token);
                    document.getElementById("ModelToken").value = token;
                });
        });
    };

    //since the token automatically expires in 2 minutes, we need to refresh it
    setInterval(getToken, 115000)

    //on loaded screen:
    $(function () {
        getToken();
    });
</script>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}