@using HomeXplorer.ViewModels.Search;
@model PropertySearchViewModel;

@{
    bool hasUser = this.User?.Identity?.IsAuthenticated ?? false;
    bool isRenter = hasUser && this.User!.IsInRole("Renter");
}

@if (!hasUser || isRenter)
{
    <div class="click-closed"></div>
    <!--/ Form Search Star /-->
    <div class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Search Property</h3>
        </div>
        <span class="close-box-collapse right-boxed bi bi-x"></span>
        <div class="box-collapse-wrap form">
            <form method="get" asp-controller="Search" asp-action="Result" class="form-a">

                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label asp-for="@Model.SearchTerm" class="pb-2">Keyword</label>
                            <input asp-for="@Model.SearchTerm" type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                        </div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label asp-for="@Model.PropertyTypeId" class="pb-2">Property Type</label>
                            <select asp-for="@Model.PropertyTypeId" class="form-control form-select form-control-a" id="Type">
                                <option value="" selected>Select a property type</option>
                                @foreach (var t in Model.PropertyTypes)
                                {
                                    <option value="@t.Id">@t.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label asp-for="@Model.BuildingTypeId" class="pb-2">Building Type</label>
                            <select asp-for="@Model.BuildingTypeId" class="form-control form-select form-control-a">
                                <option value="" selected>Select a building type</option>
                                @foreach (var t in Model.BuildingTypes)
                                {
                                    <option value="@t.Id">@t.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label asp-for="@Model.CountryId" class="pb-2">Country</label>
                            <select asp-for="@Model.CountryId" class="form-control form-select form-control-a" id="countryDropdown">
                                <option value="" selected>Select a country</option>
                                @foreach (var country in Model.Countries)
                                {
                                    <option value="@country.Id">@country.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label asp-for="@Model.CityId" class="pb-2">City</label>
                            <select asp-for="@Model.CityId" class="form-control form-select form-control-a" id="cityDropdown" disabled>
                                <option value="">Select a city</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label asp-for="@Model.MinPrice" class="pb-2">Minimum Price</label>
                            <input asp-for="@Model.MinPrice" class="form-control form-control-a" id="minPrice" />
                        </div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label asp-for="@Model.MaxPrice" class="pb-2">Maximum Price</label>
                            <input asp-for="@Model.MaxPrice" class="form-control form-control-a" id="maxPrice" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Search Property</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- End Property Search Section -->
}

<!-- ======= Header/Navbar ======= -->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="navbar-brand text-brand" href="/">Home<span class="color-b">Xplorer</span></a>

        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">

            <partial name="_LoginPartial" />

        </div>

        @if (!hasUser || isRenter)
        {
            <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
                <i class="bi bi-search"></i>
            </button>
        }

    </div>
</nav><!-- End Header/Navbar -->

<script src="~/js/register/loadCities.js"></script>